# Coding Challenge #3

1. Calculate Boeing´s Investment Multiple

2. Calculate Boeing´s CAGR

3. Calculate Boeing´s Geometric Mean Return

4. Calculate Boeing´s Investment Multiple with compound daily returns

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:.4f}'.format

In [3]:
close = pd.read_csv('close.csv', index_col = 'Date', parse_dates = ['Date'])
close

                 BA    BTC-USD  EURUSD=X      GC=F     MSFT       ^DJI
Date
2014-10-01 124.6700   383.6150    1.2628 1214.6000  45.9000 16804.7109
2014-10-02 124.1700   375.0720    1.2624 1214.2000  45.7600 16801.0508
2014-10-03 126.3600   359.5120    1.2671 1192.2000  46.0900 17009.6895
2014-10-04      NaN   328.8660       NaN       NaN      NaN        NaN
2014-10-05      NaN   320.5100       NaN       NaN      NaN        NaN
...             ...        ...       ...       ...      ...        ...
2021-05-26 241.3700 39294.1992    1.2249 1901.3000 251.4900 34323.0508
2021-05-27 250.7000 38436.9688    1.2193 1895.7000 249.3100 34464.6406
2021-05-28 247.0200 35697.6055    1.2193 1902.5000 249.6800 34529.4492
2021-05-29      NaN 34616.0664       NaN       NaN      NaN        NaN
2021-05-30      NaN 35678.1289       NaN       NaN      NaN        NaN

[2434 rows x 6 columns]

In [14]:
boeing = close.BA.copy().dropna().to_frame().rename(columns = {'BA': 'Price'})
boeing["Returns"] = boeing.Price.pct_change(periods = 1)
boeing

              Price  Returns
Date
2014-10-01 124.6700      NaN
2014-10-02 124.1700  -0.0040
2014-10-03 126.3600   0.0176
2014-10-06 126.2600  -0.0008
2014-10-07 123.3200  -0.0233
...             ...      ...
2021-05-24 237.4400   0.0112
2021-05-25 240.7400   0.0139
2021-05-26 241.3700   0.0026
2021-05-27 250.7000   0.0387
2021-05-28 247.0200  -0.0147

[1677 rows x 2 columns]

In [9]:
multiple = (boeing.Price[-1] / boeing.Price[0])
multiple

1.9813909352730892

In [18]:
cagr = (boeing.Price[-1] / boeing.Price[0]) ** (1 / ((boeing.index[-1] - boeing.index[0]).days / 365.25)) -1
cagr

0.10820172433101138

In [19]:
n = boeing.Returns.count()
n

1676

In [20]:
geo_mean = multiple ** (1 / n) - 1 # geometric mean return (daily)
geo_mean

0.00040807792530195286

In [21]:
multiple_daily = (1 + geo_mean) ** n
multiple_daily

1.9813909352732844