# Coding Challenge #4

1. Calculate daily log returns for Boeing.

2. Use Boeing´s log returns to calculate

    Investment Multiple

    CAGR (assuming 252 trading days)

    Normalized Prices (Base = 1)

In [2]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.6f}'.format

In [4]:
close = pd.read_csv("close.csv", index_col = "Date", parse_dates = ["Date"])
close

,BA,BTC-USD,EURUSD=X,GC=F,MSFT,^DJI
Date,,,,,,
2014-10-01,124.669998,383.614990,1.262834,1214.599976,45.900002,16804.710938
2014-10-02,124.169998,375.071991,1.262419,1214.199951,45.759998,16801.050781
2014-10-03,126.360001,359.511993,1.267058,1192.199951,46.090000,17009.689453
2014-10-04,NaN,328.865997,NaN,NaN,NaN,NaN
2014-10-05,NaN,320.510010,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
2021-05-26,241.369995,39294.199219,1.224909,1901.300049,251.490005,34323.050781
2021-05-27,250.699997,38436.968750,1.219260,1895.699951,249.309998,34464.640625
2021-05-28,247.020004,35697.605469,1.219319,1902.500000,249.679993,34529.449219
2021-05-29,NaN,34616.066406,NaN,NaN,NaN,NaN
2021-05-30,NaN,35678.128906,NaN,NaN,NaN,NaN

In [9]:
ba = close.BA.dropna().copy().to_frame().rename(columns = {"BA": "Price"})
ba

                Price
Date
2014-10-01 124.669998
2014-10-02 124.169998
2014-10-03 126.360001
2014-10-06 126.260002
2014-10-07 123.320000
...               ...
2021-05-24 237.440002
2021-05-25 240.740005
2021-05-26 241.369995
2021-05-27 250.699997
2021-05-28 247.020004

[1677 rows x 1 columns]

In [10]:
ba["log_return"] = np.log(ba.Price / ba.Price.shift()) # daily log returns (log of current price divided by the previous price)
ba

                Price  log_return
Date
2014-10-01 124.669998         NaN
2014-10-02 124.169998   -0.004019
2014-10-03 126.360001    0.017483
2014-10-06 126.260002   -0.000792
2014-10-07 123.320000   -0.023561
...               ...         ...
2021-05-24 237.440002    0.011096
2021-05-25 240.740005    0.013803
2021-05-26 241.369995    0.002613
2021-05-27 250.699997    0.037926
2021-05-28 247.020004   -0.014788

[1677 rows x 2 columns]

In [12]:
investment_multiple = np.exp(ba.log_return.sum()) # adding log returns ("cumulative returns")
investment_multiple

1.9813909352730894

In [18]:
cagr = (ba.Price[-1] / ba.Price[0]) ** (1 / ((ba.index[-1] - ba.index[0]).days / 365.25)) - 1
cagr

0.10820172433101138

In [24]:
cagr = np.exp(ba.log_return.mean() * 252) - 1 # good approximation (for US stocks)
cagr

0.10828598076579743

In [26]:
normalised_prices = np.exp(ba.log_return.cumsum()) # adding log returns ("cumulative returns")
normalised_prices

Date
2014-10-01        NaN
2014-10-02   0.995989
2014-10-03   1.013556
2014-10-06   1.012754
2014-10-07   0.989171
               ...
2021-05-24   1.904548
2021-05-25   1.931018
2021-05-26   1.936071
2021-05-27   2.010909
2021-05-28   1.981391
Name: log_return, Length: 1677, dtype: float64

In [27]:
(60 / 20) ** (1 / (365 / 365.25)) - 1

2.0022582720500997