## Reading Financial Data From Different Sources

### The Data Set

In [1]:
fn = '../data/AAPL.csv'

In [2]:
with open(fn, 'r') as f:
    for _ in range(5):
        print(f.readline(), end='')

Date,HIGH,CLOSE,LOW,OPEN,COUNT,VOLUME
2020-04-01,248.72,240.91,239.13,246.5,460606.0,44054638.0
2020-04-02,245.15,244.93,236.9,240.34,380294.0,41483493.0
2020-04-03,245.7,241.41,238.9741,242.8,293699.0,32470017.0
2020-04-06,263.11,262.47,249.38,250.9,486681.0,50455071.0

### Reading from a CSV File with Python

In [3]:
import csv

In [4]:
csv_reader = csv.reader(open(fn, 'r'))

In [5]:
data = list(csv_reader)

In [6]:
data[:5]

[['Date', 'HIGH', 'CLOSE', 'LOW', 'OPEN', 'COUNT', 'VOLUME'],
 ['2020-04-01',
  '248.72',
  '240.91',
  '239.13',
  '246.5',
  '460606.0',
  '44054638.0'],
 ['2020-04-02',
  '245.15',
  '244.93',
  '236.9',
  '240.34',
  '380294.0',
  '41483493.0'],
 ['2020-04-03',
  '245.7',
  '241.41',
  '238.9741',
  '242.8',
  '293699.0',
  '32470017.0'],
 ['2020-04-06',
  '263.11',
  '262.47',
  '249.38',
  '250.9',
  '486681.0',
  '50455071.0']]

In [7]:
csv_reader = csv.DictReader(open(fn, 'r'))

In [8]:
data = list(csv_reader)

In [9]:
data[:5]

[{'Date': '2020-04-01',
  'HIGH': '248.72',
  'CLOSE': '240.91',
  'LOW': '239.13',
  'OPEN': '246.5',
  'COUNT': '460606.0',
  'VOLUME': '44054638.0'},
 {'Date': '2020-04-02',
  'HIGH': '245.15',
  'CLOSE': '244.93',
  'LOW': '236.9',
  'OPEN': '240.34',
  'COUNT': '380294.0',
  'VOLUME': '41483493.0'},
 {'Date': '2020-04-03',
  'HIGH': '245.7',
  'CLOSE': '241.41',
  'LOW': '238.9741',
  'OPEN': '242.8',
  'COUNT': '293699.0',
  'VOLUME': '32470017.0'},
 {'Date': '2020-04-06',
  'HIGH': '263.11',
  'CLOSE': '262.47',
  'LOW': '249.38',
  'OPEN': '250.9',
  'COUNT': '486681.0',
  'VOLUME': '50455071.0'},
 {'Date': '2020-04-07',
  'HIGH': '271.7',
  'CLOSE': '259.43',
  'LOW': '259.0',
  'OPEN': '270.8',
  'COUNT': '467375.0',
  'VOLUME': '50721831.0'}]

In [10]:
mean = sum([float(l['CLOSE']) for l in data]) / len(data)
mean

272.38619047619045

### Reading from a CSV File with pandas

In [11]:
import pandas as pd

In [12]:
data = pd.read_csv(fn, index_col=0, parse_dates=True)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 21 entries, 2020-04-01 to 2020-04-30
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HIGH    21 non-null     float64
 1   CLOSE   21 non-null     float64
 2   LOW     21 non-null     float64
 3   OPEN    21 non-null     float64
 4   COUNT   21 non-null     float64
 5   VOLUME  21 non-null     float64
dtypes: float64(6)
memory usage: 1.1 KB

In [14]:
data.tail()

              HIGH   CLOSE     LOW    OPEN     COUNT      VOLUME
Date
2020-04-24  283.01  282.97  277.00  277.20  306176.0  31627183.0
2020-04-27  284.54  283.17  279.95  281.80  300771.0  29271893.0
2020-04-28  285.83  278.58  278.20  285.08  285384.0  28001187.0
2020-04-29  289.67  287.73  283.89  284.73  324890.0  34320204.0
2020-04-30  294.53  293.80  288.35  289.96  471129.0  45765968.0

In [15]:
data.index

DatetimeIndex(['2020-04-01', '2020-04-02', '2020-04-03', '2020-04-06',
               '2020-04-07', '2020-04-08', '2020-04-09', '2020-04-13',
               '2020-04-14', '2020-04-15', '2020-04-16', '2020-04-17',
               '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23',
               '2020-04-24', '2020-04-27', '2020-04-28', '2020-04-29',
               '2020-04-30'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [16]:
data['CLOSE'].mean()

272.38619047619056

### Exporting to Excel and JSON

In [17]:
#data.to_excel('data/aapl.xls', 'AAPL')

In [18]:
data.to_json('./aapl.json')

### Reading from Excel and JSON

In [19]:
#excel_data = pd.read_excel('data/aapl.xls', 'AAPL', index_col=0)
#excel_data.head()

In [20]:
json_data = pd.read_json('./aapl.json')
json_data.head()

              HIGH   CLOSE       LOW    OPEN   COUNT    VOLUME
2020-04-01  248.72  240.91  239.1300  246.50  460606  44054638
2020-04-02  245.15  244.93  236.9000  240.34  380294  41483493
2020-04-03  245.70  241.41  238.9741  242.80  293699  32470017
2020-04-06  263.11  262.47  249.3800  250.90  486681  50455071
2020-04-07  271.70  259.43  259.0000  270.80  467375  50721831

## Working with Open Data Sources

In [21]:
%load_ext dotenv
%dotenv
import os

In [22]:
quandl_api_key = os.environ.get("QUANDL_API_KEY")

In [23]:
import quandl as q

In [24]:
data = q.get('BCHAIN/MKPRU', api_key=quandl_api_key)

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5376 entries, 2009-01-02 to 2023-09-21
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Value   5376 non-null   float64
dtypes: float64(1)
memory usage: 84.0 KB

In [26]:
data['Value'].resample('A').last()

Date
2009-12-31        0.000000
2010-12-31        0.299998
2011-12-31        4.470000
2012-12-31       13.570000
2013-12-31      746.900000
2014-12-31      315.700000
2015-12-31      428.230000
2016-12-31      958.120000
2017-12-31    14165.575000
2018-12-31     3791.545833
2019-12-31     7219.600000
2020-12-31    28856.590000
2021-12-31    47132.960000
2022-12-31    16599.690000
2023-12-31    27133.550000
Freq: A-DEC, Name: Value, dtype: float64

In [27]:
data = q.get('FSE/SAP_X', start_date='2018-1-1',
                      end_date='2020-05-01',
                      api_key=quandl_api_key)

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 579 entries, 2018-01-02 to 2020-04-30
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Open                   257 non-null    float64
 1   High                   579 non-null    float64
 2   Low                    579 non-null    float64
 3   Close                  579 non-null    float64
 4   Change                 0 non-null      object
 5   Traded Volume          533 non-null    float64
 6   Turnover               533 non-null    float64
 7   Last Price of the Day  0 non-null      object
 8   Daily Traded Units     0 non-null      object
 9   Daily Turnover         0 non-null      object
dtypes: float64(6), object(4)
memory usage: 49.8+ KB

In [29]:
data.head()

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2018-01-02,93.35,93.95,92.12,92.80,None,2334984.0,216571734.0,None,None,None
2018-01-03,93.00,94.65,92.63,94.07,None,2346852.0,219877195.0,None,None,None
2018-01-11,NaN,93.74,91.04,91.43,None,4274991.0,393498865.0,None,None,None
2018-01-12,NaN,91.47,90.27,90.73,None,3437210.0,312013502.0,None,None,None
2018-01-15,NaN,90.61,89.71,90.06,None,2053812.0,185176806.0,None,None,None

In [30]:
q.ApiConfig.api_key = quandl_api_key

In [31]:
vol = q.get_table('QUANTCHA/VOL', date='2018-12-31', ticker='MSFT')

In [32]:
vol.iloc[:, :10].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ticker  1 non-null      object
 1   date    1 non-null      datetime64[ns]
 2   hv10    1 non-null      float64
 3   hv20    1 non-null      float64
 4   hv30    1 non-null      float64
 5   hv60    1 non-null      float64
 6   hv90    1 non-null      float64
 7   hv120   1 non-null      float64
 8   hv150   1 non-null      float64
 9   hv180   1 non-null      float64
dtypes: datetime64[ns](1), float64(8), object(1)
memory usage: 208.0+ bytes

In [33]:
vol[['ivmean30', 'ivmean60', 'ivmean90']].tail()

      ivmean30  ivmean60  ivmean90
None
0        0.376    0.3519     0.331

## Storing Financial Data Efficiently

In [34]:
#
# Python Module to Generate a
# Sample Financial Data Set
#
# Python for Algorithmic Trading
# (c) Dr. Yves J. Hilpisch
# The Python Quants GmbH
#
import numpy as np
import pandas as pd

r = 0.05  # constant short rate
sigma = 0.5  # volatility factor


def generate_sample_data(rows, cols, freq='1min'):
    '''
    Function to generate sample financial data.

    Parameters
    ==========
    rows: int
        number of rows to generate
    cols: int
        number of columns to generate
    freq: str
        frequency string for DatetimeIndex

    Returns
    =======
    df: DataFrame
        DataFrame object with the sample data
    '''
    rows = int(rows)
    cols = int(cols)
    # generate a DatetimeIndex object given the frequency
    index = pd.date_range('2021-1-1', periods=rows, freq=freq)
    # determine time delta in year fractions
    dt = (index[1] - index[0]) / pd.Timedelta(value='365D')
    # generate column names
    columns = ['No%d' % i for i in range(cols)]
    # generate sample paths for geometric Brownian motion
    raw = np.exp(np.cumsum((r - 0.5 * sigma ** 2) * dt +
                 sigma * np.sqrt(dt) *
                 np.random.standard_normal((rows, cols)), axis=0))
    # normalize the data to start at 100
    raw = raw / raw[0] * 100
    # generate the DataFrame object
    df = pd.DataFrame(raw, index=index, columns=columns)
    return df

In [35]:
rows = 5  # number of rows
columns = 3  # number of columns
freq = 'D'  # daily frequency
generate_sample_data(rows, columns, freq)

                   No0         No1         No2
2021-01-01  100.000000  100.000000  100.000000
2021-01-02   98.607253  103.892218   99.102839
2021-01-03  105.892804  100.924130   96.508711
2021-01-04  108.307711   98.926447   96.263869
2021-01-05  113.558534   97.571831   93.051932

In [36]:
%time data = generate_sample_data(rows=5e6, cols=10).round(4)

CPU times: user 2.19 s, sys: 2.1 s, total: 4.3 s
Wall time: 4.35 s

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5000000 entries, 2021-01-01 00:00:00 to 2030-07-05 05:19:00
Freq: T
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   No0     float64
 1   No1     float64
 2   No2     float64
 3   No3     float64
 4   No4     float64
 5   No5     float64
 6   No6     float64
 7   No7     float64
 8   No8     float64
 9   No9     float64
dtypes: float64(10)
memory usage: 419.6 MB

### Storing DataFrame Objects

#### Writing directly to an HDFS file

In [38]:
# overwrites an existing file with the same name
h5 = pd.HDFStore('./data.h5', 'w')

In [39]:
%time h5['data'] = data

CPU times: user 130 ms, sys: 330 ms, total: 460 ms
Wall time: 478 ms

In [40]:
h5

<class 'pandas.io.pytables.HDFStore'>
File path: ./data.h5

In [41]:
%ls -n ./data.*

-rw-rw-r-- 1 1000 1000 440007240 Sep 21 15:56 ./data.h5

In [42]:
h5.close()

In [43]:
h5 = pd.HDFStore('./data.h5', 'r')

In [44]:
%time data_copy = h5['data']

CPU times: user 304 ms, sys: 386 ms, total: 690 ms
Wall time: 707 ms

In [45]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5000000 entries, 2021-01-01 00:00:00 to 2030-07-05 05:19:00
Freq: T
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   No0     float64
 1   No1     float64
 2   No2     float64
 3   No3     float64
 4   No4     float64
 5   No5     float64
 6   No6     float64
 7   No7     float64
 8   No8     float64
 9   No9     float64
dtypes: float64(10)
memory usage: 419.6 MB

In [46]:
h5.close()

In [47]:
%rm ./data.h5

#### Writing to HDFS through a DataFrame

In [48]:
%time data.to_hdf('./data.h5', 'data', format='table')

CPU times: user 2.27 s, sys: 315 ms, total: 2.58 s
Wall time: 2.58 s

In [49]:
%time data_copy = pd.read_hdf('./data.h5', 'data')

CPU times: user 139 ms, sys: 495 ms, total: 634 ms
Wall time: 713 ms

In [50]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5000000 entries, 2021-01-01 00:00:00 to 2030-07-05 05:19:00
Freq: T
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   No0     float64
 1   No1     float64
 2   No2     float64
 3   No3     float64
 4   No4     float64
 5   No5     float64
 6   No6     float64
 7   No7     float64
 8   No8     float64
 9   No9     float64
dtypes: float64(10)
memory usage: 419.6 MB

### Using TsTables

In [51]:
%time data = generate_sample_data(rows=2.5e6, cols=5, freq='1s').round(4)

CPU times: user 444 ms, sys: 100 ms, total: 545 ms
Wall time: 543 ms

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2500000 entries, 2021-01-01 00:00:00 to 2021-01-29 22:26:39
Freq: S
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   No0     float64
 1   No1     float64
 2   No2     float64
 3   No3     float64
 4   No4     float64
dtypes: float64(5)
memory usage: 114.4 MB

In [53]:
import tstables
import tables as tb

In [54]:
class desc(tb.IsDescription):
    ''' Description of TsTables table structure.
    '''
    timestamp = tb.Int64Col(pos=0)
    No0 = tb.Float64Col(pos=1)
    No1 = tb.Float64Col(pos=2)
    No2 = tb.Float64Col(pos=3)
    No3 = tb.Float64Col(pos=4)
    No4 = tb.Float64Col(pos=5)

In [55]:
h5 = tb.open_file('./data.h5ts', 'w')

In [56]:
ts = h5.create_ts('/', 'data', desc)

In [57]:
h5

File(filename=./data.h5ts, title='', mode='w', root_uep='/', filters=Filters(complevel=0, shuffle=False, bitshuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) ''
/data (Group/Timeseries) ''
/data/y2023 (Group) ''
/data/y2023/m09 (Group) ''
/data/y2023/m09/d21 (Group) ''
/data/y2023/m09/d21/ts_data (Table(0,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)

In [58]:
%time ts.append(data)

CPU times: user 292 ms, sys: 90.5 ms, total: 383 ms
Wall time: 382 ms

In [59]:
h5

File(filename=./data.h5ts, title='', mode='w', root_uep='/', filters=Filters(complevel=0, shuffle=False, bitshuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) ''
/data (Group/Timeseries) ''
/data/y2021 (Group) ''
/data/y2023 (Group) ''
/data/y2023/m09 (Group) ''
/data/y2023/m09/d21 (Group) ''
/data/y2023/m09/d21/ts_data (Table(0,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01 (Group) ''
/data/y2021/m01/d01 (Group) ''
/data/y2021/m01/d01/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d02 (Group) ''
/data/y2021/m01/d02/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d03 (Group) ''
/data/y2021/m01/d03/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d04 (Group) ''
/data/y2021/m01/d04/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d05 (Group) ''
/data/y2021/m01/d05/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d06 (Group) ''
/data/y2021/m01/d06/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d07 (Group) ''
/data/y2021/m01/d07/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d08 (Group) ''
/data/y2021/m01/d08/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d09 (Group) ''
/data/y2021/m01/d09/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d10 (Group) ''
/data/y2021/m01/d10/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d11 (Group) ''
/data/y2021/m01/d11/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d12 (Group) ''
/data/y2021/m01/d12/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d13 (Group) ''
/data/y2021/m01/d13/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d14 (Group) ''
/data/y2021/m01/d14/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d15 (Group) ''
/data/y2021/m01/d15/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d16 (Group) ''
/data/y2021/m01/d16/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d17 (Group) ''
/data/y2021/m01/d17/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d18 (Group) ''
/data/y2021/m01/d18/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d19 (Group) ''
/data/y2021/m01/d19/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d20 (Group) ''
/data/y2021/m01/d20/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d21 (Group) ''
/data/y2021/m01/d21/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d22 (Group) ''
/data/y2021/m01/d22/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d23 (Group) ''
/data/y2021/m01/d23/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d24 (Group) ''
/data/y2021/m01/d24/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d25 (Group) ''
/data/y2021/m01/d25/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d26 (Group) ''
/data/y2021/m01/d26/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d27 (Group) ''
/data/y2021/m01/d27/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d28 (Group) ''
/data/y2021/m01/d28/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d29 (Group) ''
/data/y2021/m01/d29/ts_data (Table(80800,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)

In [60]:
import datetime

In [61]:
start = datetime.datetime(2021, 1, 2)
end = datetime.datetime(2021, 1, 3)

In [62]:
%time subset = ts.read_range(start, end)

CPU times: user 17.9 ms, sys: 1.02 ms, total: 19 ms
Wall time: 18.1 ms

In [63]:
start = datetime.datetime(2021, 1, 2, 12, 30, 0)

In [64]:
end = datetime.datetime(2021, 1, 5, 17, 15, 30)

In [65]:
%time subset = ts.read_range(start, end)

CPU times: user 42 ms, sys: 1.05 ms, total: 43 ms
Wall time: 41.9 ms

In [66]:
subset.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 276331 entries, 2021-01-02 12:30:00 to 2021-01-05 17:15:30
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   No0     276331 non-null  float64
 1   No1     276331 non-null  float64
 2   No2     276331 non-null  float64
 3   No3     276331 non-null  float64
 4   No4     276331 non-null  float64
dtypes: float64(5)
memory usage: 12.6 MB

In [67]:
h5.close()

In [68]:
rm data*

## Storing Data with SQLite3

In [69]:
%time data = generate_sample_data(1e6, 5, '1min').round(4)

CPU times: user 203 ms, sys: 25.4 ms, total: 228 ms
Wall time: 227 ms

In [70]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000000 entries, 2021-01-01 00:00:00 to 2022-11-26 10:39:00
Freq: T
Data columns (total 5 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   No0     1000000 non-null  float64
 1   No1     1000000 non-null  float64
 2   No2     1000000 non-null  float64
 3   No3     1000000 non-null  float64
 4   No4     1000000 non-null  float64
dtypes: float64(5)
memory usage: 45.8 MB

In [71]:
import sqlite3 as sq3

In [72]:
con = sq3.connect('./data.sql')

In [73]:
%time data.to_sql('data', con)

CPU times: user 2.76 s, sys: 216 ms, total: 2.98 s
Wall time: 3.05 s

1000000

In [74]:
ls -n ./data.*

-rw-r--r-- 1 1000 1000 105316352 Sep 21 15:56 ./data.sql

In [75]:
query = 'SELECT * FROM data WHERE No1 > 105 and No2 < 108'

In [76]:
%time res = con.execute(query).fetchall()

CPU times: user 240 ms, sys: 32.1 ms, total: 272 ms
Wall time: 271 ms

In [77]:
res[:5]

[('2021-01-15 23:52:00', 104.1935, 105.0081, 84.3414, 98.3486, 110.5834),
 ('2021-01-15 23:54:00', 104.1368, 105.0104, 84.4069, 98.3439, 110.6127),
 ('2021-01-16 00:05:00', 104.4659, 105.0242, 84.0736, 98.4985, 110.1774),
 ('2021-01-16 00:06:00', 104.559, 105.0757, 84.1017, 98.5225, 110.2211),
 ('2021-01-16 00:07:00', 104.5892, 105.0128, 84.1293, 98.4953, 110.2198)]

In [78]:
len(res)

190018

In [79]:
con.close()

In [80]:
rm data*