# Investment Multiple and CAGR

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:.4f}'.format

In [2]:
msft = pd.read_csv('msft.csv', index_col = 'Date', parse_dates = ['Date'])
msft

              Price  Returns
Date
2014-10-01  45.9000      NaN
2014-10-02  45.7600  -0.0031
2014-10-03  46.0900   0.0072
2014-10-06  46.0900   0.0000
2014-10-07  45.5300  -0.0122
...             ...      ...
2021-05-24 250.7800   0.0229
2021-05-25 251.7200   0.0037
2021-05-26 251.4900  -0.0009
2021-05-27 249.3100  -0.0087
2021-05-28 249.6800   0.0015

[1677 rows x 2 columns]

**Investment Multiple**: ending value of 1 [dollar] initially invested
<br>
Multiple = Ending value / Initial investment

In [3]:
multiple = (msft.Price[-1] / msft.Price[0])
multiple

5.43965107571966

**Price increase (in %)**

In [4]:
(multiple - 1) * 100

443.96510757196603

In [5]:
msft.Price / msft.Price[0] # similar/identical concept: normalised price with base value 1

Date
2014-10-01   1.0000
2014-10-02   0.9969
2014-10-03   1.0041
2014-10-06   1.0041
2014-10-07   0.9919
              ...
2021-05-24   5.4636
2021-05-25   5.4841
2021-05-26   5.4791
2021-05-27   5.4316
2021-05-28   5.4397
Name: Price, Length: 1677, dtype: float64

**Drawback of Investment Multiple**: doesn't take into account the investment period. I'ts only meaningul paired with the investment period.

**Compound Annual Growth Rate (CAGR)**: the (constant annual) rate of return that would be required for an investment to grow from its beginning balance to its ending balance, assuming the profits were reinvested at the end of each year of the investment's lifespan. (Wikipedia)

In [6]:
start = msft.index[0]
start

Timestamp('2014-10-01 00:00:00')

In [7]:
end = msft.index[-1]
end

Timestamp('2021-05-28 00:00:00')

In [8]:
td = end - start
td

Timedelta('2431 days 00:00:00')

In [9]:
td_years = td.days / 365.25
td_years

6.655715263518139

In [11]:
cagr = multiple ** (1 / td_years) - 1
cagr

0.2897846506194157

In [12]:
cagr = (msft.Price[-1] / msft.Price[0]) ** (1 / ((msft.index[-1] - msft.index[0]).days / 365.25)) -1
cagr

0.2897846506194157

In [14]:
(1 + cagr) ** td_years # alternative to calculate the multiple with CAGR

5.439651075719659

**CAGR can be used to compare investments with different investment horizons.**

In [19]:
multiple = (1 + msft.Returns).prod() # another alternative to calculate the multiple
multiple

5.4396510757198575

In [20]:
n = msft.Returns.count()
n

1676

In [21]:
geo_mean = multiple ** (1 / n) - 1 # geometric mean return (daily)
geo_mean

0.0010110805580043625

In [22]:
(1 + geo_mean) ** n # yet another alternative to calculate the multiple (geometric mean)

5.439651075720363

**Compound returns, CAGR and geometric mean return are closely related concepts.**

In [23]:
mu = msft.Returns.mean() # arithmetic mean return
mu

0.001159781798206695

**The arithmetic mean returns is always greater than the geometric mean return and less useful.**

In [24]:
(1 + mu) ** n # NOT possible to calculate the multiple with the arithmetic mean

6.977341539401793