# Simple Returns vs Logarithmic Returns (log returns)

Logarithmic returns have favourable characteristics, and simple returns have drawbacks.

## Discrete Compounding

**Annual compounding**: interests accrue once a year, at the end of the year.

**8% p.a.** with annual compounding on savings ($100) after one year.

In [1]:
PV = 100
r = 0.08
n = 1

In [2]:
100 * 1.08

108.0

In [4]:
FV = PV * (1 + r) ** n
FV

108.0

In [5]:
effective_annual_rate = (FV / PV) ** (1 / n) - 1
effective_annual_rate

0.08000000000000007

**Quarterly compounding**: interests accrue once a quarter, at the end of the quarter.

**8% p.a.** with quarterly compounding on savings ($100) after one year.

In [6]:
PV = 100
r = 0.08
n = 1
m = 4

In [7]:
100 * 1.02 * 1.02 * 1.02 * 1.02

108.243216

In [8]:
FV = PV * (1 + r / m) ** (n * m)
FV

108.243216

In [9]:
effective_annual_rate = (FV / PV) ** (1 / n) - 1
effective_annual_rate

0.08243215999999998

**Take home**: the more frequent the compounding happens the better.

**Monthly compounding**: interests accrue once a month, at the end of the month.

In [ ]:
**8% p.a.** with monthly compounding on savings ($100) after one year.

In [12]:
PV = 100
r = 0.08
n = 1
m = 12

In [13]:
FV = PV * (1 + r / m) ** (n * m)
FV

108.29995068075098

In [14]:
effective_annual_rate = (FV / PV) ** (1 / n) - 1
effective_annual_rate

0.08299950680750978

## Continuous Compounding

**8% p.a.** with **continuous compounding** on savings ($100).

In [15]:
import numpy as np

In [16]:
PV = 100
r = 0.08
n = 1
m = 100000 # approx.infinity

In [17]:
FV = PV * (1 + r / m) ** (n * m)
FV

108.32870330122834

In [18]:
FV = PV * np.exp(n * r) # exact math with e (euler number)
FV

108.32870676749586

In [19]:
euler = np.exp(1)
euler

2.718281828459045

In [20]:
PV * euler ** (n * r)

108.32870676749586

In [21]:
effective_annual_rate = (FV / PV) ** (1 / n) - 1
effective_annual_rate

0.08328706767495864

In [22]:
effective_annual_rate = np.exp(r) - 1
effective_annual_rate

0.08328706767495864

In [25]:
r = np.log(FV / PV) # inverse calculation -> use log
r

0.08000000000000007

**Take home**: prices of traded financial instruments change (approximately) continuously.
<br>
Intuitively, it makes sense to work with log returns

## Log Returns

In [27]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.6f}'.format

In [28]:
msft = pd.read_csv("msft.csv", index_col = "Date", parse_dates = ["Date"])
msft

                Price   Returns
Date
2014-10-01  45.900002       NaN
2014-10-02  45.759998 -0.003050
2014-10-03  46.090000  0.007212
2014-10-06  46.090000  0.000000
2014-10-07  45.529999 -0.012150
...               ...       ...
2021-05-24 250.779999  0.022882
2021-05-25 251.720001  0.003748
2021-05-26 251.490005 -0.000914
2021-05-27 249.309998 -0.008668
2021-05-28 249.679993  0.001484

[1677 rows x 2 columns]

In [30]:
msft["log_return"] = np.log(msft.Price / msft.Price.shift()) # daily log returns (log of current price divided by the previous price)
msft

                Price   Returns  log_return
Date
2014-10-01  45.900002       NaN         NaN
2014-10-02  45.759998 -0.003050   -0.003055
2014-10-03  46.090000  0.007212    0.007186
2014-10-06  46.090000  0.000000    0.000000
2014-10-07  45.529999 -0.012150   -0.012225
...               ...       ...         ...
2021-05-24 250.779999  0.022882    0.022624
2021-05-25 251.720001  0.003748    0.003741
2021-05-26 251.490005 -0.000914   -0.000914
2021-05-27 249.309998 -0.008668   -0.008706
2021-05-28 249.679993  0.001484    0.001483

[1677 rows x 3 columns]

In [31]:
msft.describe()

            Price     Returns  log_return
count 1677.000000 1676.000000 1676.000000
mean   106.314377    0.001160    0.001011
std     60.772246    0.017256    0.017249
min     40.290001   -0.147390   -0.159453
25%     54.830002   -0.006177   -0.006196
50%     89.709999    0.000918    0.000918
75%    138.899994    0.009110    0.009069
max    261.970001    0.142169    0.132929

In [33]:
mu = msft.log_return.mean() # mean log return = Reward
mu

0.0010105697603329652

In [34]:
sigma = msft.log_return.std() # standard deviation of lug returns = Risk/Volatility
sigma

0.01724882682847896

**Investment Multiple**

In [35]:
msft.Returns.add(1).prod() # compounding simple returns ("compound returns")

5.4396510757198575

In [36]:
np.exp(msft.log_return.sum()) # adding log returns ("cumulative returns")

5.439651075719645

**Normalised Prices with Base 1**

In [37]:
msft.Returns.add(1).cumprod() # compounding simple returns ("compound returns")

Date
2014-10-01        NaN
2014-10-02   0.996950
2014-10-03   1.004139
2014-10-06   1.004139
2014-10-07   0.991939
               ...
2021-05-24   5.463616
2021-05-25   5.484096
2021-05-26   5.479085
2021-05-27   5.431590
2021-05-28   5.439651
Name: Returns, Length: 1677, dtype: float64

In [38]:
np.exp(msft.log_return.cumsum()) # adding log returns ("cumulative returns")

Date
2014-10-01        NaN
2014-10-02   0.996950
2014-10-03   1.004139
2014-10-06   1.004139
2014-10-07   0.991939
               ...
2021-05-24   5.463616
2021-05-25   5.484096
2021-05-26   5.479085
2021-05-27   5.431590
2021-05-28   5.439651
Name: log_return, Length: 1677, dtype: float64

In [39]:
msft.log_return.cumsum().apply(np.exp) # adding log returns ("cumulative returns")

Date
2014-10-01        NaN
2014-10-02   0.996950
2014-10-03   1.004139
2014-10-06   1.004139
2014-10-07   0.991939
               ...
2021-05-24   5.463616
2021-05-25   5.484096
2021-05-26   5.479085
2021-05-27   5.431590
2021-05-28   5.439651
Name: log_return, Length: 1677, dtype: float64

**CAGR**

In [40]:
(msft.Price[-1] / msft.Price[0]) ** (1 / ((msft.index[-1] - msft.index[0]).days / 365.25)) - 1

0.2897846506194157

In [41]:
trading_days_year = msft.Returns.count() / ((msft.index[-1] - msft.index[0]).days / 365.25)
trading_days_year

251.81365693130397

In [42]:
np.exp(msft.log_return.mean() * trading_days_year) - 1 # correct with mean of daily log returns

0.2897846506194153

In [43]:
msft.Returns.mean() * trading_days_year # incorrect with mean of daily simple returns

0.2920488958487915

In [44]:
np.exp(msft.log_return.mean() * 252) - 1 # good approximation (for US stocks)

0.29002755628143806